{{- $email := promptString "email" -}}
{
    "data": {
        "email": "{{ $email }}",
{{- if (eq .chezmoi.arch "amd64") }}
        "prefix": "/usr/local"
{{- else }}
        "prefix": "/opt/homebrew"
{{- end }}
    }
}
