<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.adriaan.UpdateFishGreeting</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{ .chezmoi.homeDir }}/bin/update-fish-greeting</string>
    </array>

    <!-- Run the command at 09:00 on Mondays. -->
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>9</integer>
        <key>Weekday</key>
        <integer>1</integer>
    </dict>
</dict>
</plist>
