<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.adriaan.UpdateFishCompletions</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{ .prefix }}/bin/fish</string>
        <string>-c</string>
        <string>fish_update_completions</string>
    </array>

    <!-- Run the command at 09:00 on the first day of the month. -->
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>9</integer>
        <key>Day</key>
        <integer>1</integer>
    </dict>
</dict>
</plist>
