[user]
	name = Adriaan Zonnenberg
	email = {{ .email }}
[commit]
	verbose = true
[stash]
	showPatch = true
[log]
	date = auto:human
[pull]
	rebase = true
[alias]
	silent-commit = commit --allow-empty-message -m ''
	wip = !git commit -m wip --no-verify && git push --no-verify
[push]
	autoSetupRemote = true
[core]
	pager = delta --color-only --navigate --navigate-regex='^diff' --max-line-length=0
