snippet class
class `!v expand('%:t:r')`${2: extends $3}
{
	$0
}
endsnippet

snippet pubf
public function $1(): $2
{
	$0
}
endsnippet

snippet prif
private function $1(): $2
{
	$0
}
endsnippet

snippet prof
protected function $1(): $2
{
	$0
}
endsnippet
