{
    "intelephense.licenceKey": "{{ onepasswordRead "op://Personal/Intelephense/license key" "my" }}",
    "list.insertMappings": {
        "<C-n>": "normal:j",
        "<C-p>": "normal:k",
        "<C-t>": "action:tabe",
        "<C-v>": "action:vsplit",
        "<C-s>": "action:split"
    },
    "pairs.enableCharacters": ["(", "[", "{", "'", "\"", "`"]
}
