{
    "intelephense.licenceKey": "{{ (onepasswordDetailsFields "zyuqdsryv5dyzenrn6kadrx6ve").reg_code.value }}",
    "list.insertMappings": {
        "<C-n>": "normal:j",
        "<C-p>": "normal:k",
        "<C-t>": "action:tabe",
        "<C-v>": "action:vsplit",
        "<C-s>": "action:split"
    },
    "pairs.enableCharacters": ["(", "[", "{", "'", "\"", "`"]
}
