# Brew shellenv
{{ output (printf "%s/bin/brew" .prefix) "shellenv" "fish" }}

# User paths
set -gx --prepend PATH ~/.local/bin ~/.cargo/bin ~/.composer/vendor/bin ~/Library/Application\ Support/Herd/bin
set -gx --append PATH vendor/bin node_modules/.bin

# Herd php.ini directories
{{- $herdConfigPath := printf "%s/Library/Application Support/Herd/config/php" .chezmoi.homeDir }}
{{- range $dir := glob (printf "%s/*" $herdConfigPath) }}
  {{- if and (stat $dir).isDir (regexMatch "^\\d{2}$" (base $dir)) }}
set -gx HERD_PHP_{{ base $dir }}_INI_SCAN_DIR "{{ $dir }}/"
  {{- end }}
{{- end }}

set -gx EDITOR (type -q nvim && echo nvim || echo vim)
set -gx LANG en_US.UTF-8
set -gx LC_ALL en_US.UTF-8
set -gx LESS '--RAW-CONTROL-CHARS --ignore-case'
set -gx RIPGREP_CONFIG_PATH "$HOME/.ripgreprc"
set -gx FZF_DEFAULT_COMMAND "rg --files"
set -gx FZF_CTRL_T_COMMAND "rg --files"
set -gx FZF_DEFAULT_OPTS "--bind=ctrl-j:accept,ctrl-k:kill-line"

# Make sure an authentication method is available that relies on GUI input instead of TTY input
# (primarily for :SudoWrite in Neovim).
if not grep -qE 'pam_(watchid|tid).so$' /etc/pam.d/sudo
    set -gx SUDO_ASKPASS ~/.local/bin/askpass
end

set -g icloud ~/Library/Mobile\ Documents/com~apple~CloudDocs

if not status is-interactive
    exit
end

set -g fish_emoji_width 2
